/* Gerais*/

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    
}

button {
    margin: 10px;
}

#nav-container {
    padding-top: 100px;
    padding-bottom: 0;
    
}

#logo {
    width: 150px;
    margin: 10px
}

.navbar-brand {
    color: #212529;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .9rem;
    color: #212529;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #212529;
}

/*Slider*/

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 100vh;
}

#mainSlider .carousel-caption {
    top: 75%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
}

#mainSlider .carousel-caption a {
    font-size: 15px;
    margin-bottom: 50px;

}

.main-btn {
    background-color: #212529;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 5px 30px;
    border-radius: 100px;
    border: 3px solid transparent;
    transition: .3s;
}

/*Cor texto dos botões*/
.color-text {
  color: #854a25;
}

.main-btn:hover {
  text-decoration: none;
  color: #212529;
  background-color: transparent;
  border-color: #212529;
}

.carousel-indicators .active {
  background-color: #212529;
}  

/* Sobre a Empresa */

#about-area {
  background-color: #fff;
}

.main-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 100px;
}

.main-title::after {
  content: "";
  border-top: 2px solid #333;
  width: 15%;
  position: absolute;
  top: 60px;
  left: 42.5%;
  text-transform: uppercase;
}

.about-title {
  font-size: 25px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.resumo-title {
  padding-top: 50px;
  text-align: center;
  font-size: 19px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Times New Roman', Times, serif;
}

/* Serviços */

.card {
  position: relative;
  width: 190px;
  height: 250%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: #000;
  text-align: center;
  padding: 20px;
  margin: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 2em;
}


.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #854a25 0%, #854a25 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #854a25 0%, #854a25 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #854a25;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}



/*Botão Whats*/
.whats:hover {
  background-color: #206311;
  border-radius: 50px;
}


/*Card Avaliações */
.card {
  width: 250px;
  height: 270px;
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}
   
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0 1rem;
}
   
.card-img {
  --size: 100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transform: translateY(-50%);
  background: #63badc;
  position: relative;
  transition: all .3s ease-in-out;
}
   
.card-img::before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  border: 1rem solid #e8e8e8;
}
   
/*Text*/
.text-title {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #63badc;
  letter-spacing: 0.05rem;
}

.text-body {
  font-size: .9em;
  text-align: center;
  color: #6f6d78;
  font-weight: 400;
  font-style: italic;
}

/*Hover*/
.card:hover .card-img {
  --size: 110px;
  width: var(--size);
  height: var(--size);
}

/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding: 45px;
  margin-bottom: 45px;
  border-bottom: 1px solid #212529;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 15px;
}

.contact-title {
  font-weight: bold;
  color: #854a25;
}

#msg-box p {
  font-size: 22px;   
}

#contact-form input[type= "text"], #contact-form input[type="email"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

/*Copy*/

#copy-area {
  background-color: #fff;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}

.img-pages {
  width: 100%;
}

/* responsive */
@media(max-width: 768px) {
  
  /* geral */
  .container {
    padding: 20px 0;
  }
  
  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
  
  /* about */
  #about-area img {
    margin-top: 100px;
  }
  
  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }
  
  /* team */
  .card-title {
    font-size: 14px;
  }

  .card-text {
    font-size: 12px;
  }

  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p, #call-area #call-btn {
    font-size: 16px;
  }

}


@media(max-width: 425px) {

  /* slider */
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    
    font-size: 14px;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* filter */
  #portfolio-area .filter-btn {
    margin-bottom: 20px;
  }

  .project-box {
    width: 50%;
  }

  /* news */
  #news-area .main-title {
    font-size: 24px;
  }

  #news-area p {
    font-size: 16px;
  }

  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 14px;
    letter-spacing: 0;
  }

  #call-area p, #call-area #call-btn {
    margin: 0;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

}

/*Botões copy*/

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

/*scroller imagens parceiros*/

.scroller {
  max-width: 9000px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-30% - 0.5rem));
  }
}

/* Botão Cotação NAVBAR */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.img-scroller {
  height: 150px;
}

.btn {
  --color: #854a25;
  --color2: rgb(245, 245, 245);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
}

.btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  filter: brightness(.7);
  transform: scale(.98);
}

 
/*Botão Slider*/
.animated-button {
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateY(-400%);
  height: 50px;
  align-items: center;
  gap: 4px;
  border: 4px solid;
  border-color: transparent;
  font-size: 10px;
  background-color: #854a25;
  border-radius: 10px;
  font-weight: 600;
  color: #854a25;
  box-shadow: 0 0 0 2px #854a25;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  width: 24px;
  fill: #fff;
  z-index: 9;
}


.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #854a25;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff;
}

.animated-button .text:hover {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff;
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #fff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 5px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #fff;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #fff;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
